<p class="notice">This website is a living document. Follow <a href="/contribute">these</a> instructions to suggest
  changes.</p>

<h2 id="definition">What is Data4Good?</h2    >
<p>Data4Good refers to the use of data and analytics for social and environmental good. This can range from data-driven research and analysis, open data initiatives, data visualization, to the development of data-driven tools and platforms. Data4Good is driven by the belief that data can be a powerful force for good, helping to address pressing challenges instead of solely focusing on maximizing profits.</p>

<h2 id="definition">Data4Good Organizations</h2    >
<div id="list-wrapper">
<div id="list"></div>
</div>